/dts-v1/;

/ {
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	compatible = "noop";
	model = "uart0";

	chosen {
	  stdout-path = "serial:115200ns";
	};

	aliases {
	  serial = &njuoop_uartlite;
	  console = &njuoop_uartlite;
	  spi = &njuoop_spi;
	  ethernet = &axi_ethernetlite;
	};

	/*
	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rootfstype=ext4 mem=512M rootwait";
		stdout-path = "serial0:115200ns";
	};
	*/

	memory {
		device_type = "memory";
		/* ddr start at 256M and size 256M */
		reg = <0x1000000 0x20000000>;
	};

	njuoop_uartlite: serial@bfd03000 {
	  device_type = "serial";
	  compatible = "njuoop_uartlite";
	  /* unmapped uncached memory start at 0xA0000000 */
	  reg = <0xbfd03000 0x1000>;
	  reg-shift = <2>;
	};

	njuoop_spi: spi@bfd04000 {
        #address-cells = <1>;
        #size-cells = <0>;
		compatible = "xlnx,xps-spi-2.00.a";
		reg = <0xbfe40000 0x1000>;
		fifo-size = <256>;
		xlnx,spi-mode = <2>; //quad spi mode

        spi-flash@0 {
            compatible = "jedec,spi-nor";
            reg = <0>; // Chip select 0
            spi-max-frequency = <30000000>;
        };
	};

	axi_ethernetlite: ethernet@bc030000 {
		compatible = "xlnx,xps-ethernetlite-1.00.a";
		device_type = "network";
		local-mac-address = [08 86 4C 0D F7 09];
		phy-handle = <&phy0>;
		reg = <0xbc030000 0x10000>;
		xlnx,duplex = <0x1>;
		xlnx,include-global-buffers = <0x1>;
		xlnx,include-internal-loopback = <0x0>;
		xlnx,include-mdio = <0x1>;
		xlnx,instance = "axi_ethernetlite_inst";
		xlnx,rx-ping-pong = <0x1>;
		xlnx,s-axi-id-width = <0x1>;
		xlnx,tx-ping-pong = <0x1>;
		xlnx,use-internal = <0x0>;
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			phy0: phy@1 {
				device_type = "ethernet-phy";
				reg = <1>;
			} ;
		} ;
    } ;
};
